## Python Basic Programming Exercises

Q1: What is the output of following expression
    
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [20]:
x = 5 + 4 * 9 % (3 + 1) / 6 - 1
print(x)

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [ ]:
input1 = int(input("Enter a number : "))
if input1%2 == 0:
    print("Number is Even")
else:
    print("Number is Odd")

Q3: Write a program to display the multiplication table by taking a number as input. 
    
    [Hint : Use print statement inside of a loop]

In [24]:
x = int(input("ENTER A NUMBER - "))
for y in range (1,11,1):
    print(" {} X {} = {}".format(x,y,x*y))

ENTER A NUMBER - 12
 12 X 1 = 12
 12 X 2 = 24
 12 X 3 = 36
 12 X 4 = 48
 12 X 5 = 60
 12 X 6 = 72
 12 X 7 = 84
 12 X 8 = 96
 12 X 9 = 108
 12 X 10 = 120

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [22]:
for a in range(2000,3200):
    if a % 7 == 0 and a % 5 != 0:
        print(a, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [9]:
l= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
counter_int = 0
counter_float = 0
counter_str = 0
counter_bool = 0
counter_None = 0

for var in l:
    if type(var) == int:
        counter_int += 1
    if type(var) == float:
        counter_float += 1
    if type(var) == str:
        counter_str += 1
    if type(var) == bool:
        counter_bool += 1
    if var == None:
        counter_None += 1
        
print("counter_int = ",counter_int)
print("counter_str = ",counter_str)
print("counter_bool = ",counter_bool)
print("counter_None = ",counter_None)
print("counter_float = ",counter_None)

counter_int =  5
counter_str =  4
counter_bool =  1
counter_None =  1
counter_float =  1

Q6: Add all values from the list with numeric datatypes 
    
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [19]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
sum = 0
for var in l1:
    if type(var) in (int,float):
        sum +=var
print("Sum of Numeric datatypes = ",sum)

Sum of Numeric datatypes =  21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [10]:
l2 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
for var in l1:
    if type(var) == str:
        print(var, end="-")

Py-10-SQL-John-

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    
    # your code
        
my_func(l1)
 
 output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [33]:
l3 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
def my_func(a):
    sum_numbers = 0
    counter = 0
    for var in a:
        if type(var) in (int,float):
            sum_numbers +=var
        elif type(var) == str:
            counter += 1
    print("Sum of Numeric datatypes = ", sum_numbers)
    print("Count of all string = ", counter)
my_func(l3)

Sum of Numeric datatypes =  21.5
Count of all string =  4

Q9: Get only odd numbers from the following list and store the numbers in new list
    
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
    ii. Use list comprehensions
    iii. Use lambda function with filter

In [43]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
# i. Use loops to get the answer
for var in li:
    if var%2 != 0:
        print(var)
        
# ii. Use list comprehensions
lc = [var for var in li if var%2 !=0]
print(lc)
# iii. Use lambda function with filter
lf = list(filter(lambda a : a%2 != 0, li ))
print(lf)

5
7
97
77
23
73
61
[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [63]:
l4 = list(eval(input("Enter numbers : ")))
def my_func2(b):
    sum = 0
    counter = 0
    for var in b:
        sum += var
        counter += 1
    print("SUM = ",sum)
    print("COUNT = ",counter)
    print("MAX = ",max(b))
    print("MIN = ",min(b))
    print("MEAN = ", sum/counter)
    
        
my_func2(l4)

Enter numbers : 1,3245,67,234,145,67,24,67,234
SUM =  4084
COUNT =  9
MAX =  3245
MIN =  1
MEAN =  453.77777777777777

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [1]:
import math
def my_func3(shape,**kwargs):
 
  if shape == "rectangle":
    rect_area = kwargs["l"] * kwargs["w"]
    print(f"The area of rectangle is : {rect_area}.")
   
  elif shape == "square":
    sqt_area = kwargs["s"]*kwargs["s"]
    print(f"The area of square is : {sqt_area}.")
 
  elif shape == "circle":      
    circ_area = math.pi * kwargs["r"] * kwargs["r"]
    print(f"The area of circle is : {round(circ_area,2)}.")
    
my_func3("circle",r=5)

The area of circle is : 78.54.

Q12: Write a UDF to reconcile the values within two lists.
    
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [6]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def my_func4(c,d):
    set1 = set(c)
    set2 = set(d)
    print("Matched : ",list(set1.intersection(set2)))
    print("Only in l1 : ",list(set1-set2))
    print("Only in l2 : ",list(set2-set1))
    
my_func4(l1,l2)

Matched :  ['January', 'February', 'June', 'December']
Only in l1 :  ['May', 'March', 'September']
Only in l2 :  ['April', 'October']

Q13: write a UDF to check if a number is prime or not.

In [3]:
def my_func5(a):
    if a > 1:
        for i in range(2,int(a/2)+1):
            if (a % i == 0):
                print(a, "is not a Prime Number")
                break
        else:
            print(a,"is a Prime number")
    else:
        print(a,"is not a Prime number")

my_func5(2)

2 is a Prime number

Q14. Write a program which can compute the factorial of a given numbers. 
   The results should be printed in a comma-separated sequence on a single line. 
   input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [20]:
input2 = int(input("Enter a Number : "))
factorial = 1
for i in range(1,input2+1):
    factorial *= i
    print(i,end=",")
print("\nFactorial : ",factorial)

Enter a Number : 8
1,2,3,4,5,6,7,8,
Factorial :  40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [33]:
input3 = int(input("Enter a Number : "))
dict1 = {}
for i in range(1,input3+1):
    dict1[i] = i*i
print(dict1)

Enter a Number : 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program: 34,67,55,33,12,98
    
    Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [35]:
input4 = eval(input("Enter a sequence of comma-separated numbers : "))
print(list(input4),end = " ")
print(tuple(input4))

Enter a sequence of comma-separated numbers : 34,67,55,33,12,98
[34, 67, 55, 33, 12, 98] (34, 67, 55, 33, 12, 98)

Q17. Write a program that accepts a comma separated sequence of words as input and 
 prints the words in a comma-separated sequence after sorting them alphabetically.

 Suppose the following input is supplied to the program: without,hello,bag,world
 Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [1]:
input5 = list(eval(input("Enter a sequence of comma-separated words : ")))
input5.sort()
for var in input5:
    print(var,end =",")

Enter a sequence of comma-separated words : "without","hello","bag","world"
bag,hello,without,world,

Q18. Write a program that accepts a sequence of whitespace separated words 
 as input and prints the words after removing all duplicate words and sorting them alphanumerically.
 Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
 Then, the output should be: Write a program that accepts a sequence of whitespace separated words 

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [13]:
input5 = input("Enter a sequence of whitespace separated words : ")
input5 = input5.split()
set1 = set(input5)
print(sorted(set1))

Enter a sequence of whitespace separated words : hello world and practice makes perfect and hello world again
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
 letters and lower case letters.

#Suppose the following input is supplied to the program: Hello world!

#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [9]:
input7 = input("Enter a Sentence : ")
Count_uc = 0
Count_lc = 0
for i in range(len(input7)):
    if input7[i].isupper() == True:
        Count_uc += 1
    elif input7[i].islower() == True:
        Count_lc += 1
print("Count of upper case letters:",Count_uc)
print("Count of lower case letters:",Count_lc)

Enter a Sentence : Hello world!
Count of upper case letters: 1
Count of lower case letters: 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [4]:
input8 = input("Enter a String : ")
print(input8[::-1])

Enter a String : "abcd123"
"321dcba"